In [1]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/Iris/iris_dirty.csv',
                 header=None,
                 encoding='iso-8859-15',
                 names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class'])

In [4]:
meanSepalWidth = pd.Series.mean(df[df['class']  == 'Iris-versicolor']['sepal width'])

In [5]:
df.loc[82,'sepal width'] = meanSepalWidth

In [6]:
df = df.drop(df.index[[100]])

In [7]:
df.loc[49,'class'] = 'Iris-setosa'

In [8]:
df['petal width'] = df.apply(lambda row:  pd.to_numeric(row['petal width'].replace(' mm', '')) / 10 ,axis='columns')

In [9]:
df.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       6.191333     3.054533      3.758667     1.198667
std        4.338310     0.433205      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max       58.000000     4.400000      6.900000     2.500000