* http://pandas.pydata.org/pandas-docs/stable/dsintro.html
* http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [1]:
import pandas as pd

In [2]:
s1 = pd.Series([10,20,30])

In [3]:
s1

0    10
1    20
2    30
dtype: int64

In [4]:
s2 = pd.Series({'a' : 10, 'b' : 20, 'c' : 30})

In [5]:
s2

a    10
b    20
c    30
dtype: int64

In [6]:
s3 = pd.Series([10,20,30], index=['a', 'b', 'c'])

In [7]:
s3

a    10
b    20
c    30
dtype: int64

In [8]:
s3[0]

10

In [9]:
s3['a']

10

In [10]:
s3[['a', 'c']]

a    10
c    30
dtype: int64

In [11]:
s3[0:2]

a    10
b    20
dtype: int64

In [12]:
s3[:2]

a    10
b    20
dtype: int64

In [13]:
s3[1:]

b    20
c    30
dtype: int64

In [14]:
s3[lambda value: value == 20]

b    20
dtype: int64

In [15]:
s3.loc['a']

10

In [16]:
s3.iloc[1]

20

In [17]:
# http://stackoverflow.com/questions/1957780/how-to-override-operator
class MyClass:
    def __getitem__(self, key):
        return key * 2
myobj = MyClass()
myobj[3]

6

In [18]:
df = pd.DataFrame(
    {'one': pd.Series([10,20,30], index=['a', 'b', 'c']),
     'two': pd.Series([10,20,30], index=['a', 'b', 'c'])
    })

In [19]:
df

   one  two
a   10   10
b   20   20
c   30   30

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
s4 = df['one']

In [22]:
type(s4)

pandas.core.series.Series

In [23]:
s4['a']

10

In [24]:
df['one']['a']

10