In [1]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/Iris/iris_dirty.csv',
                 header=None,
                 encoding='iso-8859-15',
                 names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class'])

In [4]:
meanSepalWidth = pd.Series.mean(df[df['class']  == 'Iris-versicolor']['sepal width'])

In [5]:
df.loc[82,'sepal width'] = meanSepalWidth

In [6]:
df = df.drop(df.index[[100]])

## Main part of step 4

In [7]:
df[df['class']  == 'Iris-setsoa']

    sepal length  sepal width  petal length petal width        class
49           5.0          3.3           1.4        2 mm  Iris-setsoa

In [8]:
df.loc[49,'class'] = 'Iris-setosa'

In [9]:
df.groupby('class').count()

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa                50           50            50           50
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50