In [1]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../datasets/Iris/iris_dirty.csv',
                 header=None,
                 encoding='iso-8859-15',
                 names=['sepal length', 'sepal width', 'petal length', 'petal width', 'class'])

In [4]:
meanSepalWidth = pd.Series.mean(df[df['class']  == 'Iris-versicolor']['sepal width'])

In [5]:
df.loc[82,'sepal width'] = meanSepalWidth

In [6]:
df.loc[82]

sepal length                5.8
sepal width                2.78
petal length                3.9
petal width               12 mm
class           Iris-versicolor
Name: 82, dtype: object

## Main part of step 3

In [7]:
df[df.duplicated(keep=False)]

     sepal length  sepal width  petal length petal width            class
9             4.9          3.1           1.5        1 mm      Iris-setosa
34            4.9          3.1           1.5        1 mm      Iris-setosa
37            4.9          3.1           1.5        1 mm      Iris-setosa
50            7.0          3.2           4.7       14 mm  Iris-versicolor
100           7.0          3.2           4.7       14 mm  Iris-versicolor

In [8]:
df.groupby('class').count()

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa                49           49            49           49
Iris-setsoa                 1            1             1            1
Iris-versicolor            51           51            51           51
Iris-virginica             50           50            50           50

In [9]:
df = df.drop(df.index[[100]])

In [10]:
df.groupby('class').count()

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa                49           49            49           49
Iris-setsoa                 1            1             1            1
Iris-versicolor            50           50            50           50
Iris-virginica             50           50            50           50